<header class="header-landing">
  <nav class="navbar-left">
    <div class="container">
      <ul class="nav-items">
        <li><span>Spirited Away</span></li>
        <li>  <%= link_to "Home", home_path %> </li>
        <li>  <%= link_to "Sweet", 'https://www.youtube.com/watch?v=c4D786zRO6g' %></li>
        <li>   <%= link_to 'Home', 'https://www.youtube.com/watch?v=92kt3JUwtgk&t=29s' %>. </li>
      </ul>
      <ul class="navbar-right">
        <li id="name"> <%= link_to "Soot Sprites", profile_path, :style=>'color:#FFFFFF;     font-size: 25px;' %></li>
        <li>
          <div class="avatar-image">
            <%= image_tag  "test.png" ,alt: 'logo', class: 'avatar' %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
